@font-face {
    font-family: 'kollektif';
    src: url('../assets/fonts/Kollektif.ttf');
}

@font-face {
    font-family: 'kollektif-Italic';
    src: url('../assets/fonts/Kollektif-Italic.ttf');
}

@font-face {
    font-family: 'kollektif-bold';
    src: url('../assets/fonts/Kollektif-Bold.ttf');
}

@font-face {
    font-family: 'kollektif-BoldItalic';
    src: url('../assets/fonts/Kollektif-BoldItalic.ttf');
}

body {
    font-family: "kollektif";

}
.subMenuIcons{
    opacity: 0.5;
    height: auto;
    width: 20%;
}
.borders {
    border-left: 1px rgb(221, 214, 214) solid;
    border-right: 1px rgb(221, 214, 214) solid;
}
#menuResponsive{
    border-top: 1px solid  rgb(192, 188, 188);
}
.arrow {
    display: inline-block;
    height: auto;
    width: 2%;
}
#logoSubMenu{
    height: auto;
    width:40%;
}
#headText{
    padding-left: 0px;
    padding-left: 0px;
}
#columnsMenu{
    padding-right: 0px;
    padding-left: 0px;
}
#logoContainer{
   
    padding-right: 0px;
    padding-left: 0px;
}
#logo {
    max-width: 60%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 15%;
}
@media (max-width: 768px) {
    #logo {
        max-width: 100%;
        margin-left: 30px;

    }
}
@media (max-width: 450px) {
    #logo {
        max-width: 100%;
        margin-left: 30px;

    }
}

@media (max-width: 767px) {

    .lateral {
        display: none;
    }
}

.config {
    width: 180px;
}

.mainHead {
    margin-top: 3%;
}

#year {
    font-size: 15px;
    color: rgb(180, 177, 177);
}

#ete {
    text-align: center;
    border-top-width: 0px;
    padding-top: 0px;
}

#links {
    text-align: justify;
    list-style: none;
    padding: 0px;
}
#links2 {
    text-align: justify;
    padding: 0px;
}
#links2 li::before{
    color: blue;
}
#icon {
    height: auto;
    width: 12%;
    opacity: 0.5;
}

#config {
    height: auto;
    width: 15%;
    opacity: 0.5;
    margin: auto;
}

#icon2 {
    height: auto;
    width: 12%;
    opacity: 0.5;
}
#icon3 {
    height: auto;
    width: 18%;
    opacity: 0.5;
    
}
#configButton{
    padding-left: 0px;
    padding-right: 0px;
}

#sectionName1{
    font-family: "kollektif-bold";
}
.lateral{
    padding-left: 0px;
    padding-right: 0px;
}
.lateral li {
    font-family: "kollektif-bold";
    opacity: 0.8;
    font-size: 1.3vw;
}

#topRightIcons {
    margin-top: 15%;
    padding-right: 0px;
    padding-left: 0px;
}


@media (min-width: 768px) {
    #menuResponsive{
        display: none;
    }
}

/*Page 2 Styles*/
#userField{
    color: white;
    background: linear-gradient(to bottom,rgb(8,255,154) , rgb(1,121,255,0.7)  );
}

#userField:h1 {
    margin-bottom: 0px;
}
#textoEspecificaciones{
    margin-bottom: 0px;
}
.hrObject{
    margin-top: 4px;
}